.appointment-first-btn.btn-disabled,
.appointment-second-btn.btn-disabled,
.appointment-third-btn.btn-disabled{
    opacity: .5;
    pointer-events: none;
}

#appointment-state-indicator{
    display: none;
    opacity: 0;
    pointer-events: none;
}