@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
	padding: 0;
	margin: 0;
}
.hidden{
	max-width: 0;
	max-height: 0;
	opacity: 0;
	display: none;
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	z-index: -9999;
}

.widget-wrapper{
	color: #f5f5f5;
}
.widget-wrapper *{
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}
.widget-wrapper *::-webkit-scrollbar{
    width: 2px;
    background: transparent;
    border-radius: 10px;
}
.widget-wrapper *::-webkit-scrollbar-thumb{
    width: 2px;
    background: #18538E;
    border-radius: 10px;
}
.widget-wrapper ol,
.widget-wrapper ul,
.widget-wrapper li{
	padding: 0;
	list-style: none;
}
.widget-wrapper button,
.widget-wrapper button:active,
.widget-wrapper button:focus,
.widget-wrapper input,
.widget-wrapper input:active,
.widget-wrapper input:focus,
.widget-wrapper textarea,
.widget-wrapper textarea:active,
.widget-wrapper textarea:focus{
	border:none;
	outline:none;
	resize: none;
}
.widget-wrapper a,.widget-wrapper a:hover,.widget-wrapper a:focus{
	text-decoration:none;
	color:inherit;
	outline:none;
}
.widget-wrapper h1,.widget-wrapper h2,.widget-wrapper h3,.widget-wrapper h4,
.widget-wrapper h5,.widget-wrapper h6,.widget-wrapper p,.widget-wrapper label{
	margin: 0;
	padding: 0;
}
/*---------------------------------------------------------*/
.widget-wrapper #appointment-form{
	position: fixed;
	left: 35px;
	bottom: 40px;
	width: 300px;
	max-height: calc(100vh - 40px);
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #025ea1;
	overflow: auto;
	box-shadow: 0 0 5px 1px #025ea1;
	border-radius: 6px;
	transition: .2s;
	transform: scale3d(0,0,0);
	transform-origin: left bottom;
	z-index: 1000;
}
.widget-wrapper #appointment-form.active{
	transform: scale3d(1,1,1);
}
.widget-wrapper #appointment-form.off > *:not(#appointment-result-block){
	opacity: 0;
	pointer-events: none;
}

.widget-wrapper .selection-block,
.widget-wrapper .appointment-form_input-wrapper{
	display: block;
	position: relative;
	width: 100%;
	max-height: 300px;
	margin-bottom: 15px;
	border-radius: 6px;
    cursor: pointer;
    background-color: #1B3257;
    transition: .5s;
}

.widget-wrapper .selection-block.error,
.widget-wrapper .appointment-form_input-wrapper.error{
	box-shadow: inset 0 0 0 2px red;
}

.widget-wrapper .selection-block.hidden{
	max-height: 0;
	margin-bottom: 0;
	transform-origin: center top;
	transform: scaleY(0);
}

.widget-wrapper .selection-item-selected{
	position: relative;
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 25px 0 15px;
	color: #FFF;
    font-size: 12px;
    transition: .3s;
    border-radius: 6px;
}
.widget-wrapper .selection-item-selected:hover{
	background-color: #254579;
}
.widget-wrapper .selection-item-selected:before{
	content:'';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background: url(../img/dropdown.svg) center center/contain no-repeat;
	cursor: pointer;
}
.widget-wrapper .selection-item-selected span{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.widget-wrapper .selection-item-list{
	margin: 0;
	padding: 0;
	max-height: 0;
	border-radius: 0 0 6px 6px;
	overflow: hidden;
	transition: .5s;
}
.widget-wrapper .selection-item-list.active{
	max-height: 150px;
	overflow-y: scroll;
}

.widget-wrapper .selection-item-list li,
.widget-wrapper .appointment-form_input{
	width: 100%;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	font-size: 12px;
	color: #f5f5f5;
	transition: .3s;
	background: transparent;
	border-radius: 6px; 
	cursor: pointer;
	user-select: none;
}
.widget-wrapper .selection-item-list li{
	min-height: 36px;
	height: auto;
	padding: 5px 15px;
}

.widget-wrapper .selection-item-list li:hover {
    background-color: #254579;
    color: white;
}
.widget-wrapper .selection-item-list li span{
	font-weight: 600;
}

.widget-wrapper .empty-selection-message{
	display:block;
	padding: 0 15px;
	font-size:11px;
	pointer-events: none;
}

.widget-wrapper .appointment-form_input{
	cursor: auto;
}
.widget-wrapper .appointment-form_input::placeholder,
.widget-wrapper .appointment-form_textarea::placeholder{
	color: #f5f5f5;
}

.widget-wrapper .appointment-form_textarea{
	width: 100%;
	height: 100px;
	padding: 5px 15px;
	font-size: 12px;
	color: #f5f5f5;
	transition: .3s;
	background: transparent;
	border-radius: 6px; 
	cursor: pointer;
}

.widget-wrapper #appointment-form-message{
	margin-bottom: 15px;
	color: orangered;
	text-align: center;
}

.widget-wrapper .appointment-form_button{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	min-width: 100px;
	padding: 0 15px;
	margin: 0 auto;
	background: #12b1e3;
	border:1px solid #12b1e3;
	color: #fff;
	text-transform: none;
	font-weight: 500;
	border-radius: 6px;
	transition: .3s;
	user-select: none;
	cursor: pointer;
}
.widget-wrapper .appointment-form_button:hover{
	background: #3eddff;
	color: #f5f5f5;
}

.widget-wrapper .appointment-form_button:before{
	content:'';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	transition: .2s;
	background: url(../img/reload.svg) center center/contain no-repeat;
	pointer-events: none;
	animation: rotating 1s linear infinite;
	opacity: 0;
}

.widget-wrapper .appointment-form_button.loading{
	pointer-events: none;
	color:transparent;
}
.widget-wrapper .appointment-form_button.loading:before{
	opacity: 1;
}

.widget-wrapper  .appointment-info-message{
	padding-top: 10px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	user-select: none;
}
.widget-wrapper  .appointment-info-message a{
	color: #7fffd4;
	border-bottom: 1px solid #7fffd4;
	white-space: nowrap;
}

@keyframes rotating {
	from{
		transform: translate(-50%, -50%) rotate(0); 
	}
	to{
		transform: translate(-50%, -50%) rotate(360deg); 
	}
}

.widget-wrapper #appointment-result-block{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #025ea1;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: .3s;
}
.widget-wrapper #appointment-result-block.active{
	pointer-events: auto;
	opacity: 1;
}
.widget-wrapper #appointment-result-block p{
	width: 100%;
	position: relative;
	text-align: center;
	color:#fff;
}
.widget-wrapper #appointment-result-block p.error{
	font-size: 17px;
	line-height: 1.3;
}
.widget-wrapper #appointment-result-block p.success{
	font-size: 13px;
}
.widget-wrapper #appointment-result-block p.success:before{
	content:'';
	width: 50px;
	height: 50px;
	position: absolute;
	top: -60px;
	left: 50%;
	transform: translate(-50%, 0%); 
	transition: .2s;
	border-radius: 50%;
	background: url("../img/success.svg") center center/contain no-repeat;
	pointer-events: none;
}
.widget-wrapper #appointment-result-block p a{
	color: lightblue;
	border-bottom: 1px solid lightblue;
}

/*********************************************************************************/

.widget-wrapper .appointment-button-wrapper .appointment-loader {
	display: none;
}

.widget-wrapper .appointment-button-wrapper.loading .appointment-loader{
	display: block;
}

.widget-wrapper .appointment-button-wrapper.loading button {
	pointer-events: none;
	opacity: 0;
}

.widget-wrapper #appointment-button{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 10px;
	bottom: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:none;
	outline: none;
	background: transparent;
	z-index: 1005;
	cursor: pointer;
	transition: all .2s, color 0s;
}
.widget-wrapper #appointment-button:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(2, 94, 161, .5);
	animation: appointmentPulse 1.5s linear infinite;
	z-index: 0;
	cursor: pointer;
	transition: .2s;
}
.widget-wrapper #appointment-button:after{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: url("../img/medical-appointment.svg") center center/contain no-repeat #025ea1;
	z-index: 1;
	cursor: pointer;
	transition: .2s;
}
.widget-wrapper #appointment-button.active{
	background: url("../img/cancel.svg") center center/contain no-repeat;
	box-shadow: 0 0 5px 1px #18538E;
	padding: 0;
	color: transparent;
	border-radius: 50%;
	font-size: 0;
}
.widget-wrapper #appointment-button.active:before,
.widget-wrapper #appointment-button.active:after{
	animation: none;
	opacity: 0;
}

.widget-wrapper #appointment-button.success{
	background: url("../img/success.svg") center center/contain no-repeat #025ea1;
	box-shadow: none;
	padding: 0;
	color: transparent;
	border-radius: 50%;
	font-size: 0;
	pointer-events: none;
}
.widget-wrapper #appointment-button.success:before,
.widget-wrapper #appointment-button.success:after{
	animation: none;
	opacity: 0 !important;
}
@keyframes appointmentPulse {
	from{
		transform: scale3d(1,1,1);
		opacity: 1;
	}
	to{
		transform: scale3d(1.2,1.2,1.2);
		opacity: 0;
	}
}

/*-------------------------------------------------*/
.widget-wrapper .appointment-loader {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 50px;
	height:50px;
	margin:auto;
}

.widget-wrapper .appointment-loader .wBall {
	position: absolute;
	width: 47px;
	height: 47px;
	opacity: 0;
	transform: rotate(225deg);
	animation: orbit 3.9325s infinite;
}

.widget-wrapper .appointment-loader .wBall .wInnerBall{
	position: absolute;
	width: 6px;
	height: 6px;
	background: rgb(2,95,161);
	left:0;
	top:0;
	border-radius: 6px;
}

.widget-wrapper .appointment-loader #wBall_1 {
	animation-delay: 0.856s;
}

.widget-wrapper .appointment-loader #wBall_2 {
	animation-delay: 0.173s;
}

.widget-wrapper .appointment-loader #wBall_3 {
	animation-delay: 0.3465s;
}

.widget-wrapper .appointment-loader #wBall_4 {
	animation-delay: 0.5095s;
}

.widget-wrapper .appointment-loader #wBall_5 {
	animation-delay: 0.693s;
}

@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
		opacity: 0;
		transform:rotate(900deg);
	}

	100% {
		opacity: 0;
		transform: rotate(900deg);
	}
}

@media (max-width: 575px) {
	.widget-wrapper #appointment-button {
		left: 10px;
		bottom: 10px;
		width: 40px;
		height: 40px;
	}
	.widget-wrapper .appointment-button-wrapper .appointment-loader{
		left: 10px;
		bottom: 10px;
		width: 35px;
		height: 35px;
	}
	.widget-wrapper .appointment-loader .wBall{
		width: 35px;
		height: 35px;
	}
	.widget-wrapper #appointment-form{
		margin-bottom: 0;
		left: 0;
		bottom: auto;
		top: 0;
		width: 100vw;
		height: 100vh;
		max-height: 100vh;
		border-radius: 0;
		transform: scale3d(1,1,1) translateX(-110%);
	}
	.widget-wrapper #appointment-form.active{
		transform: scale3d(1,1,1) translateX(0);
	}
}