# dependencies
*/**/node_modules/
*/**/vendor/
*/**/package-lock.json

# Bitrix core
/bitrix/

# Bitrix files
/upload/
/local/php_interface
/local/templates
/local/js
/.access.php
/.htaccess
/404.php
/index.php
/urlrewrite.php
#!/local/js/anz/

#Misc
.htsecure
.DS_Store
.htpasswd
.well-known
restore.php
.htpassword
/.idea/
*.log
*.txt