@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    padding: 0;
    margin: 0;
}

.widget-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: opacity .3s;
    overflow: auto;
    &, & *{
        pointer-events: none;
        box-sizing: border-box;
        font-family: Roboto, sans-serif;
        user-select: none;
        &::-webkit-scrollbar{
            width: 2px;
            background: transparent;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb{
            width: 2px;
            background: #18538E;
            border-radius: 10px;
        }
    }
    & ol, & ul, & li{
        padding: 0;
        list-style: none;
    }
    & button, & button:active, & button:focus,
    & input, & input:active, & input:focus,
    & textarea, & textarea:active, & textarea:focus{
        border:none;
        outline:none;
        resize: none;
    }
    & a, & a:hover, & a:focus{
        text-decoration:none;
        color:inherit;
        outline:none;
    }
    & h1,& h2,& h3,& h4,
    & h5,& h6,& p,& label{
        margin: 0;
        padding: 0;
    }
    & input[type="number"]::-webkit-outer-spin-button,
    & input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    & #appointment-form{
        width: 100%;
        max-width: 600px;
        margin-top: 30px;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #025ea1;
        box-shadow: 0 0 5px 1px #025ea1;
        border-radius: 6px;
        transition: .5s;
        opacity: 0;
        transform: translateY(-110vh);
        transform-origin: left bottom;
        z-index: 1000;
        overflow: hidden;
        &.off > *:not(#appointment-result-block){
            opacity: 0;
            pointer-events: none;
        }
        & ::placeholder{
            color: #f5f5f5;
        }
    }

    &.active{
        opacity: 1;
        &, & * {
            pointer-events: auto;
        }
        & #appointment-form{
            transform: translateY(0);
            opacity: 1;
        }
    }

    & .selection-block,
    & .appointment-form_input-wrapper{
        display: block;
        position: relative;
        width: 100%;
        max-height: 300px;
        margin-bottom: 15px;
        border-radius: 6px;
        cursor: pointer;
        background-color: #1B3257;
        transition: .5s;
        &.error{
            box-shadow: inset 0 0 0 2px red;
        }
        &.hidden{
            max-height: 0;
            margin-bottom: 0;
            transform-origin: center top;
            transform: scaleY(0);
        }
    }
    &  .selection-item{
        &-selected{
            position: relative;
            width: 100%;
            height: 36px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 25px 0 15px;
            color: #FFF;
            font-size: 12px;
            transition: .3s;
            border-radius: 6px;
            &:hover{
                background-color: #254579;
            }
            &:before{
                content:'';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                background: url('../static/img/dropdown.svg') center center/contain no-repeat;
                cursor: pointer;
            }
            &  span{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &-list{
            display:flex;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            max-height: 0;
            border-radius: 0 0 6px 6px;
            overflow: hidden;
            transition: .5s;
            &.column-mode{
                display:flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: nowrap;
                overflow: auto;
                &::-webkit-scrollbar{
                    height: 0;
                }
                &.active{
                    max-height: 240px;
                    & .horizontal-scroll-buttons{
                        opacity: 1;
                        &  button{
                            pointer-events: auto;
                        }
                    }
                }
                &>li{
                    height: 100%;
                    margin: 0;
                    padding-top: 0;
                    flex: 0 0 calc(100% / 3);
                    flex-direction:column;
                    justify-content:flex-start;
                    text-align: center;
                    background: transparent;
                    &:hover{
                        background-color: transparent;
                    }
                    & p{
                        position: sticky;
                        top: 0;
                        left: 0;
                        width: 100%;
                        white-space: nowrap;
                        font-weight: 600;
                        color: yellowgreen;
                        background-color: #1B3257;
                        &:last-of-type{
                            margin-bottom: 5px;
                        }
                    }
                    & span{
                        padding: 5px;
                        margin: 3px auto;
                        width: 100%;
                        background: #456178;
                        border-radius: 5px;
                        transition: .3s;
                        scroll-snap-align: start;
                        &:hover{
                            background: yellowgreen;
                        }
                    }
                }
                & .horizontal-scroll-buttons{
                    position: absolute;
                    bottom: calc(50% - 15px);
                    left: -10px;
                    width: calc(100% + 20px);
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    pointer-events: none;
                    transition: .3s;
                    & button{
                        width: 20px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #3eddff;
                        border-radius: 5px;
                        overflow: hidden;
                        cursor: pointer;
                        font-size: 22px;
                        font-weight: 600;
                        color: #000;
                    }
                }
            }
            &.active{
                max-height: 170px;
                overflow: auto;
            }
            & li{
                flex: 1 0 calc(100% / 3 - 4px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                min-height: 36px;
                height: auto;
                margin: 2px;
                padding: 5px 15px;
                font-size: 12px;
                color: #f5f5f5;
                transition: .3s;
                background: #456078;
                border-radius: 6px;
                cursor: pointer;
                user-select: none;
                &:hover {
                    background-color: #254579;
                    color: white;
                }
                & span{
                    font-weight: 600;
                }
            }
        }
    }
    & .appointment-form_input{
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        font-size: 12px;
        color: #f5f5f5;
        transition: .3s;
        background: transparent;
        border-radius: 6px;
        cursor: auto;
        user-select: none;
    }
    & .empty-selection-message{
        display: block;
        padding: 0 15px 5px;
        font-size: 12px;
        pointer-events: none;
        color: #fff;
    }

    & .appointment-form_textarea{
        width: 100%;
        height: 100px;
        padding: 5px 15px;
        font-size: 12px;
        color: #f5f5f5;
        transition: .3s;
        background: transparent;
        border-radius: 6px;
    }
    &  #appointment-form-message{
        margin-bottom: 15px;
        color: orangered;
        text-align: center;
    }

    & .appointment-form_button{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        min-width: 100px;
        padding: 0 15px;
        margin: 0 auto;
        background: #12b1e3;
        border:1px solid #12b1e3;
        color: #fff;
        text-transform: none;
        font-weight: 500;
        border-radius: 6px;
        transition: .3s;
        user-select: none;
        cursor: pointer;
        &:hover{
            background: #3eddff;
            color: #f5f5f5;
        }
        &:before{
            content:'';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .2s;
            background: url(../static/img/reload.svg) center center/contain no-repeat;
            pointer-events: none;
            animation: rotating 1s linear infinite;
            opacity: 0;
        }
        &.loading{
            pointer-events: none;
            color:transparent;
            &:before{
                opacity: 1;
            }
        }
    }
    & #appointment-form-confirmation-wrapper{
        width: 100%;
    }
    & .appointment-form_button-link{
        display: block;
        max-width: max-content;
        margin: 0 auto;
        color: #fff;
        text-decoration: none;
        transition: .3s;
        &:hover{
            color: #BBBBBB;
        }
        &.loading{
            opacity: 0.5;
        }
    }
    & .appointment-info-message{
        padding-top: 10px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        user-select: none;
        & a{
            color: #7fffd4;
            border-bottom: 1px solid #7fffd4;
            white-space: nowrap;
        }
    }
    & #appointment-result-block{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #025ea1;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        opacity: 0;
        transition: .3s;
        &.active{
            pointer-events: auto;
            opacity: 1;
        }
        & p{
            width: 100%;
            position: relative;
            text-align: center;
            color:#fff;
            &.error{
                font-size: 17px;
                line-height: 1.3;
            }
            &.success{
                font-size: 13px;
                &:before{
                    content:'';
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: -60px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    transition: .2s;
                    border-radius: 50%;
                    background: url("../static/img/success.svg") center center/contain no-repeat;
                    pointer-events: none;
                }
            }
            & a{
                color: lightblue;
                border-bottom: 1px solid lightblue;
            }
        }
    }
}

@media (max-width: 575px) {
    .widget-wrapper #appointment-form{
        margin: 0;
        min-height: 100vh;
        border-radius: 0;
    }
}

@keyframes rotating {
    from{
        transform: translate(-50%, -50%) rotate(0);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*********************************************************************************/

.appointment-button-wrapper{
    &.hidden{
        max-height: 0;
        margin-bottom: 0;
        transform-origin: center top;
        transform: scaleY(0);
    }
}

.appointment-button-wrapper .appointment-loader {
    display: none;
}

.appointment-button-wrapper.loading .appointment-loader{
    display: block;
}

.appointment-button-wrapper.loading button {
    pointer-events: none;
    opacity: 0;
}

#appointment-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:none;
    outline: none;
    background: transparent;
    z-index: 1005;
    cursor: pointer;
    transition: all .2s, color 0s;
}
#appointment-button:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(2, 94, 161, .5);
    animation: appointmentPulse 1.5s linear infinite;
    z-index: 0;
    cursor: pointer;
    transition: .2s;
}
#appointment-button:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("../static/img/medical-appointment.svg") center center/contain no-repeat #025ea1;
    z-index: 1;
    cursor: pointer;
    transition: .2s;
}
#appointment-button.active{
    background: url("../static/img/cancel.svg") center center/contain no-repeat;
    box-shadow: 0 0 5px 1px #18538E;
    padding: 0;
    color: transparent;
    border-radius: 50%;
    font-size: 0;
}
#appointment-button.active:before,
#appointment-button.active:after{
    animation: none;
    opacity: 0;
}

#appointment-button.success{
    background: url("../static/img/success.svg") center center/contain no-repeat #025ea1;
    box-shadow: none;
    padding: 0;
    color: transparent;
    border-radius: 50%;
    font-size: 0;
    pointer-events: none;
}
#appointment-button.success:before,
#appointment-button.success:after{
    animation: none;
    opacity: 0 !important;
}

@keyframes appointmentPulse {
    from{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
    to{
        transform: scale3d(1.2,1.2,1.2);
        opacity: 0;
    }
}

/*-------------------------------------------------*/
.appointment-loader {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height:50px;
    margin:auto;
}

.appointment-loader .wBall {
    position: absolute;
    width: 47px;
    height: 47px;
    opacity: 0;
    transform: rotate(225deg);
    animation: orbit 3.9325s infinite;
}

.appointment-loader .wBall .wInnerBall{
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(2,95,161);
    left:0;
    top:0;
    border-radius: 6px;
}

.appointment-loader #wBall_1 {
    animation-delay: 0.856s;
}

.appointment-loader #wBall_2 {
    animation-delay: 0.173s;
}

.appointment-loader #wBall_3 {
    animation-delay: 0.3465s;
}

.appointment-loader #wBall_4 {
    animation-delay: 0.5095s;
}

.appointment-loader #wBall_5 {
    animation-delay: 0.693s;
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

