body {
    padding: 0;
    margin: 0;
}

.appointment-popup-overlay {
    --main-h: 223; /* #AEB3C0 */
    --main-s: 12%;
    --main-l: 72%;
    --field-h: 217; /* #1B3257 */
    --field-s: 53%;
    --field-l: 22%;
    --appointment-main-color: hsl(var(--main-h), var(--main-s), var(--main-l));
    --appointment-field-color: hsl(var(--field-h), var(--field-s), var(--field-l));
    --appointment-field-hover-color: hsl(var(--field-h), var(--field-s), calc(var(--field-l) + 10%));
    --appointment-plate-color: hsl(var(--main-h), calc(var(--main-s) - 50%), var(--main-l));
    --appointment-form-text-color: #011424;
    --appointment-form-text-color-sec: #AEB3C0;
    --appointment-btn-bg-color: #12b1e3;
    --appointment-btn-text-color: #011424;
    --appointment-start-btn-text-color: #fff;
    --appointment-start-btn-bg-color: #025ea1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F6FA;
    opacity: 0;
    transition: opacity 0.3s;
    overflow: hidden;
}
.appointment-popup-overlay, .appointment-popup-overlay * {
    pointer-events: none;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: var(--appointment-form-text-color);
    user-select: none;
}
.appointment-popup-overlay::-webkit-scrollbar, .appointment-popup-overlay *::-webkit-scrollbar {
    width: 2px;
    background: transparent;
    border-radius: 10px;
}
.appointment-popup-overlay::-webkit-scrollbar-thumb, .appointment-popup-overlay *::-webkit-scrollbar-thumb {
    width: 1px;
    background: transparent/*var(--appointment-plate-color)*/;
    border-radius: 10px;
}
.appointment-popup-overlay ol, .appointment-popup-overlay ul, .appointment-popup-overlay li {
    padding: 0;
    list-style: none;
}
.appointment-popup-overlay button, .appointment-popup-overlay button:active, .appointment-popup-overlay button:focus, .appointment-popup-overlay input, .appointment-popup-overlay input:active, .appointment-popup-overlay input:focus, .appointment-popup-overlay textarea, .appointment-popup-overlay textarea:active, .appointment-popup-overlay textarea:focus {
    border: none;
    outline: none;
    resize: none;
}
.appointment-popup-overlay a, .appointment-popup-overlay a:hover, .appointment-popup-overlay a:focus {
    text-decoration: none;
    outline: none;
}
.appointment-popup-overlay h1, .appointment-popup-overlay h2, .appointment-popup-overlay h3, .appointment-popup-overlay h4, .appointment-popup-overlay h5, .appointment-popup-overlay h6, .appointment-popup-overlay p, .appointment-popup-overlay label {
    margin: 0;
    padding: 0;
}
.appointment-popup-overlay input[type=number]::-webkit-outer-spin-button, .appointment-popup-overlay input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.appointment-popup-overlay.active {
    opacity: 1;
    z-index: 100;
}
.appointment-popup-overlay.active, .appointment-popup-overlay.active * {
    pointer-events: auto;
}